@import 'partials/globals',
        'partials/mixins',
        'partials/responsive',
        'partials/typography',
        'partials/variables';

.container {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25em;
    padding: 3em 1em;
    border: 0.2em solid #7928CA;
    border-radius: 5%;
    label, input {
        padding: 0.5em 0;
    }
    table {
        padding-top: 1.5em;
    }
    .box {
        height: 100px;
        width: 100%;
        background: red;
        border-radius: 50%;
    }
    #spacer {
        width: 1.5em;
    }
}

td {
    width: 100px;
}