@forward        'partials/globals';
@forward        'partials/responsive';
@forward        'partials/typography';
@forward        'partials/variables';

@import         'partials/mixins';

.container {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25em;
    padding: 3em 1em;
    border: 0.2em solid #7928CA;
    border-radius: 5%;
    color: #fff;
    @include cross-browser-support-box-shadow;
    label, input {
        padding: 0.5em 0;
    }
    table {
        padding-top: 1.5em;
        tr > td {
            width: 100px;
        }
    }
    .box {
        height: 75px;
        width: 75px;
        background: #73737352;
        border-radius: 50%;
        margin: 5px auto;
    }
    #spacer {
        width: 1.5em;
    }
}

