@forward        'partials/globals';
@forward        'partials/responsive';
@forward        'partials/typography';
@forward        'partials/variables';

@import         'partials/mixins';

.container {
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25em;
    padding: 3em 1em;
    border: 0.2em solid #7928CA;
    border-radius: 5%;
    color: #fff;
    @include cross-browser-support-box-shadow;
    label, input {
        padding: 0.5em 0;
    }
    #hex-input {
        border-radius: .625rem;
        padding: .625rem 1.25rem;
        font-size: 1rem;
        outline: none;
        @include cross-browser-support-transition-set;
        &:focus {
            border: .125rem solid #7928ca;
            @include cross-browser-support-box-shadow;
            @include cross-browser-support-transition-set;
        }
        &[type="range"]::-webkit-slider-thumb {
            display:none;
        }
    }
    table {
        padding-top: 1.5em;
        tr > td {
            width: 6.25rem;
        }
    }
    .box {
        height: 4.6875rem;
        width: 4.6875rem;
        background: #73737352;
        border-radius: 50%;
        margin: .3125rem auto;
    }
    #spacer {
        width: 1.5em;
    }
}